{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}公开课{% endblock %}
{% block crumbs%}
<!--crumbs start-->
<section>
    <div class="wp">
        <ul  class="crumbs">
            <li><a href="index.html">首页</a>></li>
            <li>公开课</li>
        </ul>
    </div>
</section>
{% endblock %}
{% block body %}
<section>
	<div class="wp">
		<div class="list" style="margin-top:0;">
			<div class="left layout">
				<div class="head">
					<ul class="tab_header">
						<li class="active"><a href="?sort=">最新 </a></li>
						<li ><a href="?sort=hot">最热门</a></li>
						<li ><a href="?sort=students">参与人数</a></li>
					</ul>
				</div>
                <div id="inWindow">
                    <div class="tab_cont " id="content">
					<div class="group_list">
                        
                            <div class="box">
                                <a href="course-detail.html">
                                    <img width="280" height="350" class="scrollLoading" src="../media/courses/2016/12/mysql.jpg"/>
                                </a>
                                <div class="des">
                                    <a href="course-detail.html">
                                        <h2>xadmin进阶开发</h2>
                                    </a>
                                    <span class="fl">时长：<i class="key">30</i></span>
                                    <span class="fr">学习人数：2&nbsp;&nbsp;</span>
                                </div>
                                <div class="bottom">
                                    <a href="course-detail.html"><span class="fl">来自慕课网</span></a>
                                    <span class="star fr  notlogin
                                        " data-favid="15">
                                        1
                                    </span>
                                </div>
                            </div>
                        
                            <div class="box">
                                <a href="course-detail.html">
                                    <img width="280" height="350" class="scrollLoading" src="../media/courses/2016/12/57035ff200014b8a06000338-240-135_dHfj8Nq.jpg"/>
                                </a>
                                <div class="des">
                                    <a href="course-detail.html">
                                        <h2>scrapy教程</h2>
                                    </a>
                                    <span class="fl">时长：<i class="key">55</i></span>
                                    <span class="fr">学习人数：0&nbsp;&nbsp;</span>
                                </div>
                                <div class="bottom">
                                    <a href="course-detail.html"><span class="fl">来自北京大学</span></a>
                                    <span class="star fr  notlogin
                                        " data-favid="15">
                                        1
                                    </span>
                                </div>
                            </div>
                        
                            <div class="box">
                                <a href="course-detail.html">
                                    <img width="280" height="350" class="scrollLoading" src="../media/courses/2016/12/python错误和异常.jpg"/>
                                </a>
                                <div class="des">
                                    <a href="course-detail.html">
                                        <h2>python错误和异常</h2>
                                    </a>
                                    <span class="fl">时长：<i class="key">0</i></span>
                                    <span class="fr">学习人数：0&nbsp;&nbsp;</span>
                                </div>
                                <div class="bottom">
                                    <a href="course-detail.html"><span class="fl">来自慕课网</span></a>
                                    <span class="star fr  notlogin
                                        " data-favid="15">
                                        0
                                    </span>
                                </div>
                            </div>
                        
                            <div class="box">
                                <a href="course-detail.html">
                                    <img width="280" height="350" class="scrollLoading" src="../media/courses/2016/12/python面向对象.jpg"/>
                                </a>
                                <div class="des">
                                    <a href="course-detail.html">
                                        <h2>python面向对象</h2>
                                    </a>
                                    <span class="fl">时长：<i class="key">0</i></span>
                                    <span class="fr">学习人数：1&nbsp;&nbsp;</span>
                                </div>
                                <div class="bottom">
                                    <a href="course-detail.html"><span class="fl">来自北京大学</span></a>
                                    <span class="star fr  notlogin
                                        " data-favid="15">
                                        0
                                    </span>
                                </div>
                            </div>
                        
                            <div class="box">
                                <a href="course-detail.html">
                                    <img width="280" height="350" class="scrollLoading" src="../media/courses/2016/11/540e57300001d6d906000338-240-135_n0L8vbw.jpg"/>
                                </a>
                                <div class="des">
                                    <a href="course-detail.html">
                                        <h2>django与vuejs实战项目2</h2>
                                    </a>
                                    <span class="fl">时长：<i class="key">0</i></span>
                                    <span class="fr">学习人数：12&nbsp;&nbsp;</span>
                                </div>
                                <div class="bottom">
                                    <a href="course-detail.html"><span class="fl">来自北京大学</span></a>
                                    <span class="star fr  notlogin
                                        " data-favid="15">
                                        0
                                    </span>
                                </div>
                            </div>
                        
                            <div class="box">
                                <a href="course-detail.html">
                                    <img width="280" height="350" class="scrollLoading" src="../media/courses/2016/12/python文件处理.jpg"/>
                                </a>
                                <div class="des">
                                    <a href="course-detail.html">
                                        <h2>python文件处理</h2>
                                    </a>
                                    <span class="fl">时长：<i class="key">0</i></span>
                                    <span class="fr">学习人数：2&nbsp;&nbsp;</span>
                                </div>
                                <div class="bottom">
                                    <a href="course-detail.html"><span class="fl">来自北京大学</span></a>
                                    <span class="star fr  notlogin
                                        " data-favid="15">
                                        0
                                    </span>
                                </div>
                            </div>
                        
                            <div class="box">
                                <a href="course-detail.html">
                                    <img width="280" height="350" class="scrollLoading" src="../media/courses/2016/11/540e57300001d6d906000338-240-135_mvvGYHL.jpg"/>
                                </a>
                                <div class="des">
                                    <a href="course-detail.html">
                                        <h2>django实战项目</h2>
                                    </a>
                                    <span class="fl">时长：<i class="key">0</i></span>
                                    <span class="fr">学习人数：0&nbsp;&nbsp;</span>
                                </div>
                                <div class="bottom">
                                    <a href="course-detail.html"><span class="fl">来自慕课网</span></a>
                                    <span class="star fr  notlogin
                                        " data-favid="15">
                                        0
                                    </span>
                                </div>
                            </div>
                        
                            <div class="box">
                                <a href="course-detail.html">
                                    <img width="280" height="350" class="scrollLoading" src="../media/courses/2016/11/57035ff200014b8a06000338-240-135_dHfj8Nq.jpg"/>
                                </a>
                                <div class="des">
                                    <a href="course-detail.html">
                                        <h2>java入门2</h2>
                                    </a>
                                    <span class="fl">时长：<i class="key">0</i></span>
                                    <span class="fr">学习人数：0&nbsp;&nbsp;</span>
                                </div>
                                <div class="bottom">
                                    <a href="course-detail.html"><span class="fl">来自慕课网2</span></a>
                                    <span class="star fr  notlogin
                                        " data-favid="15">
                                        0
                                    </span>
                                </div>
                            </div>
                        
                            <div class="box">
                                <a href="course-detail.html">
                                    <img width="280" height="350" class="scrollLoading" src="../media/courses/2016/11/57035ff200014b8a06000338-240-135_0nFiBSI.jpg"/>
                                </a>
                                <div class="des">
                                    <a href="course-detail.html">
                                        <h2>java入门3</h2>
                                    </a>
                                    <span class="fl">时长：<i class="key">0</i></span>
                                    <span class="fr">学习人数：1&nbsp;&nbsp;</span>
                                </div>
                                <div class="bottom">
                                    <a href="course-detail.html"><span class="fl">来自慕课网3</span></a>
                                    <span class="star fr  notlogin
                                        " data-favid="15">
                                        0
                                    </span>
                                </div>
                            </div>
                        
                            <div class="box">
                                <a href="course-detail.html">
                                    <img width="280" height="350" class="scrollLoading" src="../media/courses/2016/11/540e57300001d6d906000338-240-135_MSIqfvw.jpg"/>
                                </a>
                                <div class="des">
                                    <a href="course-detail.html">
                                        <h2>python入门2</h2>
                                    </a>
                                    <span class="fl">时长：<i class="key">0</i></span>
                                    <span class="fr">学习人数：0&nbsp;&nbsp;</span>
                                </div>
                                <div class="bottom">
                                    <a href="course-detail.html"><span class="fl">来自慕课网666</span></a>
                                    <span class="star fr  notlogin
                                        " data-favid="15">
                                        0
                                    </span>
                                </div>
                            </div>
                        
                            <div class="box">
                                <a href="course-detail.html">
                                    <img width="280" height="350" class="scrollLoading" src="../media/courses/2016/11/540e57300001d6d906000338-240-135.jpg"/>
                                </a>
                                <div class="des">
                                    <a href="course-detail.html">
                                        <h2>python入门</h2>
                                    </a>
                                    <span class="fl">时长：<i class="key">0</i></span>
                                    <span class="fr">学习人数：0&nbsp;&nbsp;</span>
                                </div>
                                <div class="bottom">
                                    <a href="course-detail.html"><span class="fl">来自南京大学</span></a>
                                    <span class="star fr  notlogin
                                        " data-favid="15">
                                        0
                                    </span>
                                </div>
                            </div>
                        
                            <div class="box">
                                <a href="course-detail.html">
                                    <img width="280" height="350" class="scrollLoading" src="../media/courses/2016/11/57035ff200014b8a06000338-240-135.jpg"/>
                                </a>
                                <div class="des">
                                    <a href="course-detail.html">
                                        <h2>java入门</h2>
                                    </a>
                                    <span class="fl">时长：<i class="key">20</i></span>
                                    <span class="fr">学习人数：0&nbsp;&nbsp;</span>
                                </div>
                                <div class="bottom">
                                    <a href="course-detail.html"><span class="fl">来自北京大学</span></a>
                                    <span class="star fr  notlogin
                                        " data-favid="15">
                                        0
                                    </span>
                                </div>
                            </div>
                        


					</div>
                    <div class="pageturn">
                        <ul class="pagelist">
                            

                            
                                
                                    
                                        <li class="active"><a href="?page=1">1</a></li>
                                    
                                
                            
                                
                                    
                                        <li><a href="?page=2" class="page">2</a></li>
                                    
                                
                            
                            
                                <li class="long"><a href="?page=2">下一页</a></li>
                            

                        </ul>
                    </div>
				</div>
                </div>
			</div>
			<div class="right layout">
				<div class="head">热门课程推荐</div>
				<div class="group_recommend">
                    
                    <dl>
						<dt>
							<a target="_blank" href="">
								<img width="240" height="220" class="scrollLoading" src="../media/courses/2016/11/540e57300001d6d906000338-240-135_n0L8vbw.jpg"/>
							</a>
						</dt>
						<dd>
							<a target="_blank" href=""><h2> django与vuejs实战项目2</h2></a>
							<span class="fl">难度：<i class="key">高级</i></span>
						</dd>
					</dl>
                    
                    <dl>
						<dt>
							<a target="_blank" href="">
								<img width="240" height="220" class="scrollLoading" src="../media/courses/2016/12/python面向对象.jpg"/>
							</a>
						</dt>
						<dd>
							<a target="_blank" href=""><h2> python面向对象</h2></a>
							<span class="fl">难度：<i class="key">中级</i></span>
						</dd>
					</dl>
                    
                    <dl>
						<dt>
							<a target="_blank" href="">
								<img width="240" height="220" class="scrollLoading" src="../media/courses/2016/12/python文件处理.jpg"/>
							</a>
						</dt>
						<dd>
							<a target="_blank" href=""><h2> python文件处理</h2></a>
							<span class="fl">难度：<i class="key">中级</i></span>
						</dd>
					</dl>
                    


				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
