{% extends 'usercenter_base.html' %}

{% load staticfiles %}

{% block title %} 我的收藏 {% endblock %}

{% block custom_bread %} 我的收藏 {% endblock %}

{% block body %}
<section>
	<div class="wp list personal_list">
	<div class="left">
        <ul>
            <li class="active2"><a href="usercenter-info.html">个人资料</a></li>
            <li ><a href="usercenter-mycourse.html">我的课程</a></li>
            <li ><a href="usercenter-fav-course.html">我的收藏</a></li>
            <li >
                <a href="usercenter-message.html" style="position: relative;">
                    我的消息
                </a>
            </li>
        </ul>
	</div>

    
    <div class="right" >
            <div class="personal_des Releasecont">
                <div class="head">
                    <h1>我的收藏</h1>
                </div>
            </div>
            <div class="personal_des permessage">
                <div class="head">
                    <ul class="tab_header messagehead">
                        <li><a href="usercenter-fav-course.html">课程机构</a> </li>
                        <li><a href="usercenter-fav-teacher.html">授课教师 </a></li>
                        <li class="active"><a href="usercenter-fav-course.html">公开课程</a></li>
                    </ul>

                </div>
                <div class="companycenter">
                    <div class="group_list brief">
                        
                        <div class="module1_5 box">
                            <a href="course-detail.html">
                                <img width="214" height="190" src="{% static 'media/courses/2016/12/57035ff200014b8a06000338-240-135_dHfj8Nq.jpg' %}"/>
                            </a>
                            <div class="des">
                                <a href="course-detail.html"><h2>scrapy教程</h2></a>
                                <span class="fl">时长：<i class="key">55</i></span>
                                <span class="fr">学习人数：0</span>
                            </div>
                            <div class="bottom">
                                <span class="fl">北京大学</span>
                                <span class="delete-group fr jsDeleteFav_course" data-favid="12"></span>
                            </div>
                        </div>
                        
                        <div class="module1_5 box">
                            <a href="course-detail.html">
                                <img width="214" height="190" src="{% static 'media/courses/2016/12/mysql.jpg' %}"/>
                            </a>
                            <div class="des">
                                <a href="course-detail.html"><h2>xadmin进阶开发</h2></a>
                                <span class="fl">时长：<i class="key">30</i></span>
                                <span class="fr">学习人数：2</span>
                            </div>
                            <div class="bottom">
                                <span class="fl">慕课网</span>
                                <span class="delete-group fr jsDeleteFav_course" data-favid="13"></span>
                            </div>
                        </div>
                        

                    </div>
                </div>
            </div>
        </div>


	</div>
</section>
{% endblock %}