{% extends 'usercenter_base.html' %}

{% load staticfiles %}

{% block title %} 我的课程 {% endblock %}

{% block custom_bread %} 我的课程 {% endblock %}

{% block body %}
<section>
	<div class="wp list personal_list">
            <div class="left">
                <ul>
                    <li class="{% ifequal request.path|slice:'15' '/users/userinfo' %}active2{% endifequal %}"><a href="{% url 'users:userinfo' %}">个人资料</a></li>
                    <li class="{% ifequal request.path|slice:'15' '/users/mycourse' %}active2{% endifequal %}"><a href="{% url 'users:mycourse' %}">我的课程</a></li>
                    <li class="{% ifequal request.path|slice:'12' '/users/myfav' %}active2{% endifequal %}"><a href="{% url 'users:myfavorg' %}">我的收藏</a></li>
                    <li class="{% ifequal request.path|slice:'16' '/users/mymessage' %}active2{% endifequal %}">
                        <a href="{% url 'users:mymessage' %}" style="position: relative;">
                            我的消息
                        </a>
                    </li>
                </ul>
            </div>
{#学习过的课程#}
    <div class="right" >
		<div class="personal_des Releasecont">
			<div class="head">
				<h1>我的课程</h1>
			</div>
		</div>
		<div class="personal_des permessage">
			<div class="companycenter">
				<div class="group_list brief">
                    {% for course in courses %}
                    <div class="module1_5 box">
                        <a href="{% url 'courses:detail' course.course_id %}">
                            <img width="214" height="190" class="scrollLoading" src="{{ MEDIA_URL }}{{ course.course.image }}"/>
                        </a>
                        <div class="des">
                            <a href="{% url 'courses:detail' course.course_id %}"><h2>{{ course.course.name }}</h2></a>
                            <span class="fl">课时：<i class="key">{{ course.course.learn_time }}</i></span>
                            <span class="fr">学习人数：{{ course.course.students }}</span>
                        </div>
                        <div class="bottom">
                            <span class="fl">{{ course.course.course_org.name }}</span>
                            <span class="star fr  notlogin" data-favid="15">{{ course.course.fav_nums }}</span>
                        </div>
                    </div>
                    {% endfor %}

				</div>
			</div>
		</div>
	</div>


	</div>
</section>
{% endblock %}
