{% extends 'usercenter_base.html' %}

{% load staticfiles %}

{% block title %} 我的课程 {% endblock %}

{% block custom_bread %} 我的课程 {% endblock %}

{% block body %}
<section>
	<div class="wp list personal_list">
	<div class="left">
        <ul>
            <li class="active2"><a href="usercenter-info.html">个人资料</a></li>
            <li ><a href="usercenter-mycourse.html">我的课程</a></li>
            <li ><a href="usercenter-fav-course.html">我的收藏</a></li>
            <li >
                <a href="usercenter-message.html" style="position: relative;">
                    我的消息
                </a>
            </li>
        </ul>
	</div>

    
    <div class="right" >
		<div class="personal_des Releasecont">
			<div class="head">
				<h1>我的课程</h1>
			</div>
		</div>
		<div class="personal_des permessage">
			<div class="companycenter">
				<div class="group_list brief">
                    
                    <div class="module1_5 box">
                            <a href="course-detail.html">
                                <img width="214" height="190" class="scrollLoading" src="../media/courses/2016/11/540e57300001d6d906000338-240-135_n0L8vbw.jpg"/>
                            </a>
                            <div class="des">
                                <a href="course-detail.html"><h2>django与vuejs实战项目2</h2></a>
                                <span class="fl">课时：<i class="key">0</i></span>
                                <span class="fr">学习人数：13</span>
                            </div>
                            <div class="bottom">
                                <span class="fl">北京大学</span>
                                <span class="star fr  notlogin" data-favid="15">0</span>
                            </div>
                        </div>
                    
                    <div class="module1_5 box">
                            <a href="course-detail.html">
                                <img width="214" height="190" class="scrollLoading" src="../media/courses/2016/12/python文件处理.jpg"/>
                            </a>
                            <div class="des">
                                <a href="course-detail.html"><h2>python文件处理</h2></a>
                                <span class="fl">课时：<i class="key">0</i></span>
                                <span class="fr">学习人数：2</span>
                            </div>
                            <div class="bottom">
                                <span class="fl">北京大学</span>
                                <span class="star fr  notlogin" data-favid="15">0</span>
                            </div>
                        </div>
                    
                    <div class="module1_5 box">
                            <a href="course-detail.html">
                                <img width="214" height="190" class="scrollLoading" src="../media/courses/2016/11/57035ff200014b8a06000338-240-135_dHfj8Nq.jpg"/>
                            </a>
                            <div class="des">
                                <a href="course-detail.html"><h2>java入门2</h2></a>
                                <span class="fl">课时：<i class="key">0</i></span>
                                <span class="fr">学习人数：0</span>
                            </div>
                            <div class="bottom">
                                <span class="fl">慕课网2</span>
                                <span class="star fr  notlogin" data-favid="15">0</span>
                            </div>
                        </div>
                    
                    <div class="module1_5 box">
                            <a href="course-detail.html">
                                <img width="214" height="190" class="scrollLoading" src="../media/courses/2016/11/mysql.jpg"/>
                            </a>
                            <div class="des">
                                <a href="course-detail.html"><h2>django入门</h2></a>
                                <span class="fl">课时：<i class="key">0</i></span>
                                <span class="fr">学习人数：3</span>
                            </div>
                            <div class="bottom">
                                <span class="fl">慕课网</span>
                                <span class="star fr  notlogin" data-favid="15">0</span>
                            </div>
                        </div>
                    
                    <div class="module1_5 box">
                            <a href="course-detail.html">
                                <img width="214" height="190" class="scrollLoading" src="../media/courses/2016/11/57035ff200014b8a06000338-240-135_0nFiBSI.jpg"/>
                            </a>
                            <div class="des">
                                <a href="course-detail.html"><h2>java入门3</h2></a>
                                <span class="fl">课时：<i class="key">0</i></span>
                                <span class="fr">学习人数：1</span>
                            </div>
                            <div class="bottom">
                                <span class="fl">慕课网3</span>
                                <span class="star fr  notlogin" data-favid="15">0</span>
                            </div>
                        </div>
                    
                    <div class="module1_5 box">
                            <a href="course-detail.html">
                                <img width="214" height="190" class="scrollLoading" src="../media/courses/2016/12/python面向对象.jpg"/>
                            </a>
                            <div class="des">
                                <a href="course-detail.html"><h2>python面向对象</h2></a>
                                <span class="fl">课时：<i class="key">0</i></span>
                                <span class="fr">学习人数：1</span>
                            </div>
                            <div class="bottom">
                                <span class="fl">北京大学</span>
                                <span class="star fr  notlogin" data-favid="15">0</span>
                            </div>
                        </div>
                    
                    <div class="module1_5 box">
                            <a href="course-detail.html">
                                <img width="214" height="190" class="scrollLoading" src="../media/courses/2016/12/mysql.jpg"/>
                            </a>
                            <div class="des">
                                <a href="course-detail.html"><h2>xadmin进阶开发</h2></a>
                                <span class="fl">课时：<i class="key">30</i></span>
                                <span class="fr">学习人数：2</span>
                            </div>
                            <div class="bottom">
                                <span class="fl">慕课网</span>
                                <span class="star fr  notlogin" data-favid="15">1</span>
                            </div>
                        </div>
                    

				</div>
			</div>
		</div>
	</div>


	</div>
</section>
{% endblock %}
